<div class="container-fluid bg-grey">
	<h1> Welcome back , <i id="green"> <%= current_user.username %> </i> ! </h1>
	<br>

	<div class="row">
  
	  <div class="col-sm-12 col-xs-12">
	    <div class="panel panel-default text-center">
	      <div class="panel-heading">
	        <h1>Bobbleheads</h1>
	      </div>
	      <div class="panel-body">
	        <h3><i id="green"> <%= current_user.bobbleheads.count %> </i> / <strong id="red"> 20 </strong></h3>
	        	<div class="progress">
							<% a = bob_percentage(current_user) %>
					    <div class="progress-bar progress-bar-striped progress-bar-<%= a < 40 ? 'danger': a < 80 ? 'warning' : 'success' %> active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%= a %>%">
					    	<%= a %>% of bobbleheads found so far
					    </div>
					  </div>
	      </div>
	      <div class="panel-footer">
	        <%= button_to 'All bobbleheads', bobbleheads_path, method: :get, class: 'btn' %>
	        <br>
	        <%= render 'bobbleheads/table' %>
	      </div>
	    </div>      
	  </div>     
	  
    <!-- row -->
	</div>






</div>