<form class="form-signin">
  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <%= devise_error_messages! %>

  <div class="form-label-group">
    <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: 'Username', id: 'inputUsername2', class: 'form-control', required: true %>
    <%= f.label :username, for: 'inputUsername2' %>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail', id: 'inputEmail', class: 'form-control', required: true %>
    <%= f.label :email, for: 'inputEmail' %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', id: 'inputPassword', class: 'form-control', required: true %>
    <%= f.label :password, for: 'inputPassword' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Conformation', id: 'inputPasswordConf', class: 'form-control', required: true %>
    <%= f.label :password_confirmation, for: 'inputPasswordConf' %>
  </div>

  <br />
  <p id="red"> All fields are required ! </p>
  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block' %>
  </div>

  <br />
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>

<% end %>

</form>