<%= sleep 1 %>
<%= render 'navbar' %>


<div class="container-fluid text-center ">
	<h1> All Bobbleheads </h1>
  <br>
  <%= render 'table' %>
</div>




  
<div class="container-fluid text-center bg-grey">
  
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag 'all_bobbleheads.png', size: '400x300' %>
        <!-- <img src="fallout4.jpg" alt="Paris" width="400" height="300"> -->
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag 'maps/bobbleheads_map.jpg', size: '400x300' %>

        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag 'fallout4.jpg', size: '400x300' %>

        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
  </div>

</div>
