<!DOCTYPE html>
<html>
  
  <head>
  <title>My Fallout 4</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
	<%= csrf_meta_tags %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	
	<!-- head -->
	</head>


	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
		
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>                        
			    </button>
			    <% if current_user %>
			    	<%= link_to "#{current_user.username}", :root, class: 'navbar-brand' %>
			    <% else %>
			    	<%= link_to 'Logo', :root, class: 'navbar-brand' %>
			    <% end %>
			  </div>
			  <div class="collapse navbar-collapse" id="myNavbar">
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="#about">ABOUT</a></li>
			      <li><a href="#services">SERVICES</a></li>
			      <li><a href="#portfolio">PORTFOLIO</a></li>
			      <li><a href="#pricing">PRICING</a></li>
			      <li><a href="#contact">CONTACT</a></li>
			      <% if current_user %>
			      	<li> <%= button_to 'Log out button', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out' %> </li>
						<% end %>

			    </ul>
			  </div>
			</div>
		</nav>
    
    <%= yield %>
    
		<div>
	  	<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
	  <!-- flash -->
	  </div>
  </body>
</html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>